In [3]:
import pandas as pd

In [6]:
pip install sqlalchemy_utils

Requirement already satisfied: sqlalchemy_utils in c:\users\user\anaconda3\lib\site-packages (0.41.1)
Requirement already satisfied: SQLAlchemy>=1.3 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy_utils) (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\anaconda3\lib\site-packages (from SQLAlchemy>=1.3->sqlalchemy_utils) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pymysql
pymysql.install_as_MySQLdb()

In [10]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
username = "root"
password = "tewejulichris" # (whatever password you chose during mysql installation)
db_name = "sakila"

In [11]:
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
#connection_str = "mysql+pymysql://root:root@localhost/new_db"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [13]:
engine = create_engine(connection)

In [14]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\user\anaconda3\lib\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [15]:
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [22]:
#QN 1
j= "SELECT customer.first_name,customer.last_name,customer.email,address.address FROM address JOIN customer ON address.address_id=customer.address_id;"

pd.read_sql(j, engine)

,first_name,last_name,email,address
0,MARY,SMITH,MARY.SMITH@sakilacustomer.org,1913 Hanoi Way
1,PATRICIA,JOHNSON,PATRICIA.JOHNSON@sakilacustomer.org,1121 Loja Avenue
2,LINDA,WILLIAMS,LINDA.WILLIAMS@sakilacustomer.org,692 Joliet Street
3,BARBARA,JONES,BARBARA.JONES@sakilacustomer.org,1566 Inegl Manor
4,ELIZABETH,BROWN,ELIZABETH.BROWN@sakilacustomer.org,53 Idfu Parkway
...,...,...,...,...
594,TERRENCE,GUNDERSON,TERRENCE.GUNDERSON@sakilacustomer.org,844 Bucuresti Place
595,ENRIQUE,FORSYTHE,ENRIQUE.FORSYTHE@sakilacustomer.org,1101 Bucuresti Boulevard
596,FREDDIE,DUGGAN,FREDDIE.DUGGAN@sakilacustomer.org,1103 Quilmes Boulevard
597,WADE,DELVALLE,WADE.DELVALLE@sakilacustomer.org,1331 Usak Boulevard
598,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,1325 Fukuyama Street

In [24]:
#QN 2
k="select film.title, film.description, film.release_year,film.rating,film.special_features from film join film_category on film.film_id=film_category.film_id (select category.name from category where category.name='comedy' );"
pd.read_sql(k, engine)

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'select category.name from category where category.name='comedy' )' at line 1")
[SQL: select film.title, film.description, film.release_year,film.rating,film.special_features from film join film_category on film.film_id=film_category.film_id (select category.name from category where category.name='comedy' );]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
#QN 3
r="select film.title,film.release_year from film where (select actor.last_name from actor where last_name='LOLLOBRIGIDA')"
pd.read_sql(r, engine)

In [ ]:
#QN 4
h="select actor.first_name,actor.last_name( select film.title from film where film.title='Bingo Talented') from actor;"
pd.read_sql(h, engine)

In [25]:
#QN 5
d="select customer.customer_id,payment.amount from customer join payment on customer.customer_id=payment.customer_id where payment.amount>(SELECT 2*AVG(payment.amount) FROM payment);"
pd.read_sql(d, engine)

     customer_id  amount
0              1    9.99
1              2   10.99
2              3    8.99
3              3   10.99
4              3    8.99
..           ...     ...
852          595    9.99
853          595   10.99
854          597    8.99
855          599    9.99
856          599    8.99

[857 rows x 2 columns]

In [26]:
#QN 6
v="select customer.first_name,customer.last_name,payment.amount as num_payments from customer join payment on customer.customer_id=payment.customer_id where payment.amount=(SELECT MAX(payment.amount)   FROM payment) limit 5  ;"
pd.read_sql(v, engine)

  first_name last_name  num_payments
0      KAREN   JACKSON         11.99
1   VICTORIA    GIBSON         11.99
2    VANESSA      SIMS         11.99
3       ALMA    AUSTIN         11.99
4   ROSEMARY   SCHMIDT         11.99