In [1]:
#QN 1
SELECT customer.first_name,customer.last_name,customer.email,address.address
FROM address
JOIN customer
ON address.address_id=customer.address_id;

SyntaxError: invalid syntax (3737270854.py, line 1)

In [ ]:
#QN 2
select film.title, film.description, film.release_year,film.rating,film.special_features
from film
join film_category
where film.film_id=film_category.film_id
(select category.name
from category
where category.name='comedy'
);

In [ ]:
#QN 3
select film.title,film.release_year
from film
where (select actor.last_name
from actor
where last_name='LOLLOBRIGIDA')

In [ ]:
#QN 4
select actor.first_name,actor.last_name(
select film.title
from film
where film.title='Bingo Talented'
)
from actor;

In [ ]:
#QN 5
select customer.customer_id,payment.amount
from customer
join payment
on customer.customer_id=payment.customer_id
where payment.amount>(SELECT 2*AVG(payment.amount)
  FROM payment);

In [ ]:
#QN 6
select customer.first_name,customer.last_name,payment.amount as num_payments
from customer
join payment
on customer.customer_id=payment.customer_id
where payment.amount=(SELECT MAX(payment.amount)
  FROM payment)
limit 5  ;